<html>
<head>
<title>Nuevo Alumno</title>
</head>
<body>
	<form action="alumno" method="POST">
		<table>
			<tbody>
				<tr>
					<td>ID</td>
					<td><input type="hidden" name="id" value="{{alumno.id}}" />{{alumno.id}}</td>
				</tr>
				<tr>
					<td>Nombres</td>
					<td><input type="text" name="nombres" value="{{person.nombres}}" /></td>
				</tr>
				<tr>
					<td>Apellido Paterno</td>
					<td><input type="text" name="apellidoPaterno" value="{{person.apellidoPaterno}}" /></td>
				</tr>
				<tr>
					<td>Apellido Materno</td>
					<td><input type="text" name="apellidoMaterno" value="{{person.apellidoMaterno}}" /></td>
				</tr>
			</tbody>
		</table>
		<br>
		<input type="submit" value="Save" />
		<input type="button" value="Cancel" onclick="history.back();" />
	</form>
</body>
</html>