<html>
<head>
<title>Alumnos</title>
</head>
<body>
	<table class=>
		<thead>
			<tr>
				<th>ID</th>
				<th>Nombres</th>
				<th>Apellido Paterno</th>
				<th>Apellido Materno</th>
				<th>Actions</th>
			</tr>
		</thead>
		
		<tbody>
	{% for alumno in alumnos %}
			<tr>
				<td>{{ alumno.id }}</td>
				<td>{{ alumno.nombres }}</td>
				<td>{{ alumno.apellidoPaterno }}</td>
				<td>{{ alumno.apellidoMaterno }}</td>
				<td><a href="?id={{ alumno.id }}">Ver</a> | <a href="add-alumno?id={{alumno.id }}">Modify</a> </td>
			</tr>
	{% endfor %}
        </tbody>
      </table>
      <br />
      <a href="add-alumno">Agregar Nuevo Alumno</a>
</body>
</html>